{% extends "posts/base.html" %}

{% block content %}

{% if not user.is_authenticated %}
<div class="container pt-5 mh-50">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            {% for fpost in featured_posts %}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                <img src="{{fpost.image.url}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                <h5>{{fpost.title}}</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            {% endfor %}
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</div>
{%endif %}
<div class="contianer py-5">
    <div class="latest_post-title row">
        <div class="col-lg-6">
            <h3>Latest</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-lg-6">
            <a class="float-right" href="#">See More</a>
        </div>
    <div><!--latest_Post-title-->
</div>
<div class="container latest_post-wrapper py-1">    
    <div class="row py-3">
{% for post in latest_posts %}
        <div class="col-lg-4" style="padding-bottom: 2rem;">
            <a href="{{post.get_absolute_url}}">
            <div class="card p-2 shadow" style="width: 22rem; height: 30rem;">
                <img src="{{post.image.url}}" class="card-img-top" alt="{{post.title}}">
                <div class="card-body">
                    <small class="text-muted h6">{{post.category}}</small>
                    <blockquote class="blockquote">
                        <p class="mb-0">{{post.title}}</p>
                        <footer class="blockquote-footer">written By<cite title="Source Title">{{posts.author}}</cite></footer>
                    </blockquote>
                    <hr/>
                    <div class="d-flex flex-row py-0">
                        <small class="text-muted mr-auto">{{post.date_posted}}</small>
                        <p><i class="fas fa-share-alt"></i></p>
                    </div>
                </div>
            </div>
            </a>
        </div><!--col-lg-4-->
{% endfor %}
    </div><!--row-py-3-->
</div><!--container.latest_post-wrapper-->
    
{% for ct in all_categs %}
<div class="container latest_post-wrapper py-1">
    <div class="latest_post-title row">
        <div class="col-lg-6">
            <h3>{{ct.title}}</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-lg-6">
            <a class="float-right" href="#">See More</a>
        </div>
    <div><!--latest_Post-title-->    
    <div class="row py-3">
    {% for post in ct.postcategory.all %}
        <div class="col-lg-4" style="padding-bottom: 2rem;" >
        <a href="{{post.get_absolute_url}}">
            <div class="card p-2 shadow" style="width: 22rem; height: 30rem">
                <img src="{{post.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <small class="text-muted h6">{{post.category}}</small>
                    <blockquote class="blockquote">
                        <p class="mb-0">{{post.title}}</p>
                        <footer class="blockquote-footer">written By<cite title="Source Title">{{posts.author}}</cite></footer>
                    </blockquote>
                    <hr/>
                    <div class="d-flex flex-row py-0">
                        <small class="text-muted mr-auto">{{post.date_posted}}</small>
                        <p><i class="fas fa-share-alt"></i></p>
                    </div>
                </div>
            </div>
        </a>
        </div><!--col-lg-4-->
    {% endfor %}
    </div><!--row-py-3-->
</div><!--container.latest_post-wrapper-->
{% endfor %}
{% endblock content %}}