{% extends "posts/base.html" %}

{% block content %}
    <h2>{{object.title}}</h2>
    {{request.build_absolute_uri}}
    <p>By
     {{object.author}} 
    </a> on {{object.date_posted|date:"F d, Y"}}</p>
    <p>{{object.content}}</p>
    <div class="fb-like" data-href="{{request.build_absolute_uri}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <div>
        <p class="lead">Comments</p>
        <div class="fb-comments"></div>
    </div>
{% endblock content %}}